<div>

    <form class="form" [formGroup]="loanForm" (ngSubmit)="onSubmit()">

        <mat-form-field class="full-width">
            <mat-label>Monthly Income</mat-label>
            <input matInput type="number" placeholder="Enter amount in euro" formControlName="monthlyIncome">
            <mat-icon matSuffix>euro_symbol</mat-icon>
            <!--            <span *ngIf="loanForm.controls['monthlyIncome'].errors.pattern">
                <mat-error>
                    Only Numbers are allowed.  
                </mat-error>
            </span>
            -->

            <span *ngFor="let field of fields">
                <span *ngIf="field.params === 'monthlyIncome'">
                    <mat-error>
                        {{field.message}}   
                    </mat-error>
                </span>
            </span>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Requested Amount</mat-label>
            <input matInput type="number" placeholder="Enter amount in euro" formControlName="requestedAmount">
            <mat-icon matSuffix>euro_symbol</mat-icon>
            <span *ngFor="let field of fields">
                <span *ngIf="field.params === 'requestedAmount'">
                    <mat-error>
                        {{field.message}}   
                    </mat-error>
                </span>
            </span>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Loan Term</mat-label>
            <input matInput type="number" formControlName="loanTerm" placeholder="Enter number of months">
            <mat-icon matSuffix>date_range</mat-icon>
            <span *ngFor="let field of fields">
                <span *ngIf="field.params === 'loanTerm'">
                    <mat-error>
                        {{field.message}}   
                    </mat-error>
                </span>
            </span>
        </mat-form-field>

        <br />

        <mat-form-field class="full-width">
            <mat-label>Children</mat-label>
            <mat-select formControlName="children" (change)="changeChildren($event)">
                <mat-option value="NONE">NONE</mat-option>
                <mat-option value="SINGLE">SINGLE</mat-option>
                <mat-option value="MULTIPLE">MULTIPLE</mat-option>
            </mat-select>
        </mat-form-field>

        <br />

        <mat-form-field class="full-width">
            <mat-label>CoApplicant</mat-label>
            <mat-select formControlName="coapplicant" (change)="changeCOApplicant($event)">
                <mat-option value="NONE">NONE</mat-option>
                <mat-option value="SINGLE_BORROWER">SINGLE BORROWER</mat-option>
                <mat-option value="MULTIPLE_BORROWERS">MULTIPLE BORROWERS</mat-option>
            </mat-select>
        </mat-form-field>

        <br />
        <div class="btn-right">
            <button mat-flat-button color="warn" [disabled]="!loanForm.valid" type="submit">Send</button>
        </div>
     

    </form>

    <!--
    <form class="example-form" [formGroup]="loanForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label>Montly Income *</label>
            <input class="form-control" type="number" formControlName="monthlyIncome"
                placeholder="Enter amount in euro">
            <div *ngIf="getControl.monthlyIncome.touched && getControl.monthlyIncome.invalid" class="text-danger">
                <div *ngIf="getControl.monthlyIncome.errors.required">Monthly Income is required.</div>
                <div *ngIf="getControl.monthlyIncome.errors?.minlength">Minimum 4 character are required.</div>
            </div>
            <span *ngFor="let field of fields">
                <span *ngIf="field.params === 'monthlyIncome'">
                    <span style="color:red">{{field.message}}</span>
                </span>
            </span>
        </div>

        <div class="form-group">
            <label>Requested Amount *</label>
            <input class="form-control" type="number" formControlName="requestedAmount"
                placeholder="Enter amount in euro">
            <div *ngIf="getControl.requestedAmount.touched && getControl.requestedAmount.invalid" class="text-danger">
                <div *ngIf="getControl.requestedAmount.errors.required">Requested Amount is required.</div>
            </div>
            <span *ngFor="let field of fields">
                <span *ngIf="field.params === 'requestedAmount'">
                    <span style="color:red">{{field.message}}</span>
                </span>
            </span>
        </div>

        <div class="form-group">
            <label>Loan Term *</label>
            <input class="form-control" type="number" formControlName="loanTerm" placeholder="Enter in months">
            <div *ngIf="getControl.loanTerm.touched && getControl.loanTerm.invalid" class="text-danger">
                <div *ngIf="getControl.loanTerm.errors.required">Loan Term is required.</div>
                <div *ngIf="getControl.loanTerm.errors?.minlength">Minimum 4 character are required.</div>
            </div>
            <span *ngFor="let field of fields">
                <span *ngIf="field.params === 'loanTerm'">
                    <span style="color:red">{{field.message}}</span>
                </span>
            </span>
        </div>

        <div class="form-group">
            <label>Children</label>
            <select class="custom-select" formControlName="children" (change)="changeChildren($event)">
                <option *ngFor="let child of childrens">
                    {{child}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>CoApplicant</label>
            <select class="custom-select" formControlName="coapplicant" (change)="changeCOApplicant($event)">
                <option *ngFor="let loaner of loaners">
                    {{loaner}}
                </option>
            </select>
        </div>

        <button class="btn btn-danger btn-block" [disabled]="!loanForm.valid" type="submit">Submit</button>
    </form>

    -->

</div>